body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}
.swiperContainer {
  width: 100%; /* خليه مرن على كل الشاشات */
  padding: 1rem 0;
}

.slide {
  padding: 0 1rem;
}
